.row
  .span9.offset1.hero
    %h1 欢迎从远方星系来的客人
    %p 这是个人搭建的方便EVE玩家的工具网站。
    %p 如果有什么意见或反馈，欢迎给游戏id: SQRH留言，
  .clearfix
  .span9.offset1.hero
    = link_to '虫洞信息查询', '/wormholes'
  .clearfix
  .span9.offset1.hero
    %h3 Bugs/Fixtures
    %ul
      %li 2013.04.25 重启更新，添加虫洞攻略。
      
